*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:sans-serif;
    color:brown;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}
.cal{
    box-shadow: 3px 3px #a9ec2e,6px 6px 13px rgb(241, 255, 90);
    border-radius: 28px;
    padding: 16px;
    display:grid;
    grid-template-columns: repeat(4,66px);
}
input{
    grid-column: span 4;
    height: 60px;
    width: 264px;
    box-shadow: inset -2px -2px 1px rgb(241, 255, 90), inset 6px 6px 13px rgb(241, 255, 90);
    border: none;
    border-radius: 25px;
    text-align: end;
    margin: 15px 0px 15px 0px;
    padding: 20px;
    font-size: 40px;
}
button{
    box-shadow: inset 2px 2px 1px rgb(241, 255, 90),6px 6px 13px black ;
    border: none;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #a4f018;
}
button:hover{
    transform: translateY(-0.5px);
}
.zero{
    width: 120px;
    border-radius: 42px;
    box-shadow: inset 2px 2px 1px rgb(241, 255, 90),6px 6px 13px black;
}
.long{
    margin-left: 77px;
}
.main{
    box-shadow: inset 2px 2px 1px  #D4D4D2,6px 6px 13px black;
    background-color: #D4D4D2;
    color: black;
}